@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

body{
    background-color: black;
}

#titulo{
    display: flex;
    color: white;
    justify-content: center;
}

.bento{
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 3fr;
    gap: 16px;
}

.bento section,
.bento article,
.bento nav {
    background-color: #5f9353;
    border-radius: 20px;
    padding: 24px;
    color: white;
    font-family: "DM Serif Display", serif;
}

#Presentacion{
    grid-area: 1/1/2/3;
    display: flex;
    align-items: center;
    gap: 16px;
}

#Quehago{
    grid-area: 1/4/3/5;
    display: flex;
    align-items: center;
}

#Estudios{
    grid-area: 3/3/4/5;
    display: flex;
    align-items: center;
}


#Experiencia{
    grid-area: 1/3/2/4;
    display: flex;
    align-items: center;
}

#Habilidades{
    grid-area: 2/2/4/3;
    display: flex;
    align-items: center;
}

#Gustos{
    grid-area: 2/1/4/2;
    display: flex;
    align-items: center;
}

#Libre{
    grid-area: 2/3/3/4;
    display: flex;
    align-items: center;
}